langgraph
langchain
langchain-core
langchain-google-genai
langchain-community
chromadb
fastapi
uvicorn
pydantic
python-dotenv

python-multipart
pypdf
langchain-chroma
rank_bm25
google-generativeai
websockets
psycopg2-binary
